<div class="thanks  animated flipInX">
	<div>
		<h2 ng-bind="more"></h2>
		<p><a href="http://1.jih5.applinzi.com" target="_blank" ng-bind="work1"></a><span ng-bind="miaoshu1"></span></p>
		<p><a href="http://3.jih5.applinzi.com" target="_blank" ng-bind="work2"></a><span ng-bind="miaoshu2"></span></p>
		<p><a href="http://9.jih5.applinzi.com" target="_blank" ng-bind="work3"></a><span ng-bind="miaoshu3"></span></p>
		<p><a href="http://10.jih5.applinzi.com" target="_blank" ng-bind="work4"></a><span ng-bind="miaoshu4"></span></p>
	</div>
	<a ng-href="#/future" class="left"></a>
	<a ng-href="#/connect" class="right"></a>
</div>